
<div class="row">
    <div class="">
        <div class="panel panel-primary">
            <a [routerLink]="['/login']">Logout |</a>
            <a [routerLink]="['/login']">Edit Profile |</a>
            <a [routerLink]="['/createcamp']">Create Campaings</a>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">New <span class="badge">Edit</span></li>
                    <li class="list-group-item">Deleted <span class="badge">Edit</span></li>
                    <li class="list-group-item">Warnings <span class="badge">Edit</span></li>
                    </ul>
            </div>
        </div>
    </div>
</div>